<footer class="site-footer">
    <div class="wrapper">
        <div class="copy-right">
            {% if site.author %}
            &copy; {{ site.author | escape }} 2017
            {% if site.github_username %}
            | <a href="https://github.com/{{ site.github_username }}">Github</a>
            {% endif %}

            {% if site.twitter_username %}
            | <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
            {% endif %}

            {% if site.email %}
            | <a href="mailto:ichyo00@gmail.com">Email</a>
            {% endif %}
            {% endif %}
        </div>
    </div>
</footer>
